*{
    box-sizing: border-box;
}

#mainTitle, #subtitle{
    text-align: center;
}

#mainTitle{
    margin-bottom: 5px;
}

#subtitle{
    margin-top: 0;
}

#footer{
    text-align: center;
    margin-bottom: 0;
}

#members{
    text-align: center;
}
#wrapper{
    width:100vw;
    height: 100vh;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "q1Map q1Map q1Chart q1Chart"
                        "q1Map q1Map q1Chart q1Chart"
                        "MapTwo MapTwo q10Chart q10Chart"
                        "MapTwo MapTwo q10Chart q10Chart";
}

#map {
    grid-area: q1Map;
    /*height: 800px;*/
    /*width: 700px;*/
}

#chart1{
    grid-area: q1Chart;
    position: relative;
}

#q1Chart{
    position: absolute;
    width: 100vw;
    height: 80vh;
}

#chart2{
    margin-top: 50px;
    grid-area: q10Chart;
    position: relative;
}

#q10Chart{
    position: absolute;
    width: 100vw;
    height: 80vh;
}

#mapTwo{
    grid-area: MapTwo;
    margin-top: 50px;
    /*margin-top: 50px;*/
    /*width: 60vw;*/
    /*height: 500px;*/
}